html,body{
  height: 100vh;
}
.container-fluid, .row, .col-lg-8 .col-lg-2{
  height: 100vh;
  /*max-height: 100%*/
}
.greyed{
  background-color: #F8F8F8;
  padding-top: 10px;
}
.greyed_border{
  border:1px solid grey;
}
/*used for defining the custom color of the website*/
.site-color { 
  background-color: #40bad5 !important;
  border-color: #40bad5 !important;
}
.custom-select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid black; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
}
.custom-select:focus, .custom-select:active{
  outline: 0 !important;
  box-shadow: none!important;
  border-bottom-color: black;
}
label, .label{
  opacity: 0.7
}

.feature{
  display: inline-block;
  /*margin-bottom: 5px;*/
  width: 100%;
}
.minimized{
  /*max-width: 8rem !important;*/
  min-height: 2rem !important;
}
.controls{
  width:100%;
  margin: 0 auto;
  text-align: center;
}
.control{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 5px 20px 10px 20px;

}
input[type="range"]{
  width: 100px;
}
path{
	background-blend-mode:lighten;
}
#neighbors_list{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.list-group-item{
  background-color: #F8F8F8;
  font-size: large;
}

.list-group-item:hover {
  background-color: gainsboro;
}

.focused{
  color: "#43a2ca" !important;
  /*opacity: 1;*/
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*.brush .background {
  stroke: none;
  fill: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}*/


/*
Bootstrap button
*/
.btn-primary {
  background-color: steelblue !important;
  border-color: steelblue !important;
}

/* Bias defining words section */
input[type=text] {
  /*
  border: 1px solid #ced4da;
  */
  border: none;
  background-color: #F8F8F8;
}

/*
Tooltip for histogram
*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}