svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
  stroke-width: 15px;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 1px;
}

.foreground path.inactive {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .5;
  stroke-width: 1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.axis .title {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
