/*used for defining the custom color of the website*/
.site-color { 
  background-color: #40bad5 !important;
  border-color: #40bad5 !important;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.feature{
  display: inline-block;
  padding-bottom: 20px;

}
.controls{
  /*width:80%;*/
  margin-top: 0px;
  margin-bottom: 30px ;
  margin-left: 50px
}
.control{
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 0px;

}
input[type="range"]{
  width: 100px;
}
path{
	background-blend-mode:lighten;
}
html,body{
  height: 100%
}
.list-group-item{
  background: #F8F8F8 !important;
}





