
{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <br>
    <div class="row">
        <!-- <div id="attributes_div" class="col-lg-2" >
            <div class="ui segment">
                
                <button id="go" class="ui primary button">
                  Run
                </button>
                <button id="update" class="ui button">
                  Update
                </button>
            </div>
            <div class="ui segment">
                <div class="ui list">
                    <div class="item">
                        <i class="file outline icon"></i>
                        <div class="content">
                          <a id="load_desc_modal" href="#">Learn more about biasViz</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="video icon"></i>
                        <div class="content">
                          <a href="#">See a tutorial</a>
                        </div>
                    </div>
                </div>
            </div>  -->  
        <!-- </div> -->
        <!-- <div class="col-lg-6"> 
            <div id="scatter_plot" class="ui segment" style="height:400px;"></div> 
        </div>  --> 
        <div class="col-lg-2">
            <div id="controls" >
                
                <div class="control">
                    <label>Alpha/opacity</label>
                    <input id="alpha_input" type="range" name="alpha" min="0" max="1" step="0.01" value="0.35">
                    <span id="alpha_text">0.35</span>  
                </div>
                <div class="control">
                    <label>Curve Smoothness</label>
                    <input id="smoothness_input" type="range" name="smooth" min="0" max="1" step="0.01" value="0">
                    <span id="smoothness_text">0</span>  
                </div>
                <div class="control">
                    <label>Bundle Strength</label>
                    <input id="bundle_input" type="range" name="smooth" min="0" max="1" step="0.01" value="0">
                    <span id="bundle_text">0</span>  
                </div>
                <div class="control">
                    <label>Bundle curves by:</label>
                    <select id="bundle_dimension" class="ui dropdown">
                      <!-- <option value="">-----</option> -->
                      <option value="gender">gender</option>
                      <option value="race">race</option>
                      <option value="economic_status">economic status</option>
                    </select>  
                </div>
                <div class="control">
                    <button id="reset_brush" class="ui button">Reset Brush</button>
                </div>
                
            </div>
            
        </div>
        <div class="col-lg-8"> 
            
            
            <div id="parallel_coord" class="parcoords" style="height: 500px"></div>         
        </div>
        <div class="col-lg-2">
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search words...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript"> var baseline= false</script>
{% endblock content %}