<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/semantic/semantic.min.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.5.0/nouislider.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3.parcoords.css') }}">

    <title>WordBias</title>
</head>
<body>

	<!-- Nav bar start -->
	<nav class="navbar navbar-expand-lg navbar-dark site-color" style="display: none;">
		<a class="navbar-brand" href="#" >biasViz</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" href="#" >Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="#">About</a>  
                
		    </div>
            
	  	</div>
	</nav>
    
    <div class="container-fluid" style="padding-left: 10px; padding-right: 10px;">
        <div class="row">
        <div class="col-lg-2 greyed">
                <div class="feature">
                    <label><h4>Word Embeddings</h4></label>
                    <select id="dropdown_embedding">
                        <option selected>Word2Vec</option>
                        <option>Word2Vec debiased</option>
                        <option>Glove (wiki 300d)</option>
                        <option>Hindi fastText</option>
                        <option>French fastText</option>
                        <option>Temp</option>
                        <option disabled>German fastText</option>
                        <option disabled>Chinese fastText</option>
                        <option disabled>Spanish fastText</option>
                    </select>   
                </div>
                <div class="feature">
                    <label><h4>Bias Measuring Method</h4></label>
                    <select id="quantification">
                        <option>Subspace Projection</option>
                        <option>Group Difference</option>
                    </select>
                </div>   
            <!-- <div style="border-bottom: 1px solid #DCDCDC;"> -->
                <div class="feature">
                    <label><h4>Bias Distribution</h4></label>
                    <select id="histogram_type">
                        <option selected="">ALL</option>
                        <option>gender</option>
                        <option>race</option>
                        <option>eco</option>
                    </select>
                </div>   
                <div id="histogram" class="feature" style="height: 20%"></div>
                <div class="feature">
                    <div id="slider"></div>    
                </div>

                <div class="form-group">
                    <label><h4>Bias Defining Words</h4></label><br>
                    <div style="padding-bottom: 5px;">
                        <!-- <label>Bias Type:</label>  -->
                        <input type="text" id="bias_type" placeholder="Bias Type" style="width: 100%;">
                    </div>
                    <input type="text" id="gp1_label" placeholder="Group 1 name" style="width: 50%;">
                    <select id="gp1_dropdown" style="float:right;" onchange="changeBiastype(this.id)"></select>
                    <textarea class="form-control" rows="2" id="gp1" style="margin-bottom: 7px;"></textarea>
                                
                    <input type="text" id="gp2_label" placeholder="Group 2 name" style="width: 50%;">
                    <select id="gp2_dropdown" style="float:right;" onchange="changeBiastype(this.id)"></select>
                    <textarea class="form-control" rows="2" id="gp2"></textarea>

                    <div style="padding-top: 5px;">
                        <button type="submit" class="btn btn-primary btn-sm" id="add_axis" style="width: 30%">Add</button>
                        <button type="submit" class="btn btn-primary btn-sm" id="update_axis" style="width: 30%">Update</button>
                        <button type="submit" class="btn btn-primary btn-sm" id="delete_axis" style="width: 30%">Delete</button>
                    </div>
                </div>
                <br>

                <div class="feature">
                        <label for="target"><h4>Highlight Words</h4></label>
                        <select style="float:right;" id="dropdown_target" onchange="load_target_words(this.value)">
                            <option selected>Profession</option>
                            <option>Sentiments</option>
                            <option>Personality Traits</option>
                            <option>Extremism</option>
                            <option>Custom</option>
                        </select>
                        
                        <textarea class="form-control" rows="3" id="target"></textarea>
                </div>
            <!-- </div> -->
        </div>
        <div class="col-lg-8"> 
            <div class="controls">
                <div class="control">
                    <p>Alpha/opacity</p>
                    <input id="alpha_input" type="range" name="alpha" min="0" max="1" step="0.01" value="0.5">
                    <span id="alpha_text">0.5</span>  
                </div>
                <div class="control">
                    <p>Curve Smoothness</p>
                    <input id="smoothness_input" type="range" name="smooth" min="0" max="1" step="0.01" value="0">
                    <span id="smoothness_text">0</span>  
                </div>
                <div class="control">
                    <p>Bundle Strength</p>
                    <input id="bundle_input" type="range" name="smooth" min="0" max="1" step="0.01" value="0">
                    <span id="bundle_text">0</span>  
                </div>
                <div class="control">
                    <p >Threshold</p>
                    <input type="range" min="0.0" max="0.50" step="0.01" value="0" id="threshold" onchange="coeff_val_change(this.value)">
                    <span id="coeff_slider_val">0.0</span>        
                </div> 
                <div class="control">
                    <p>Bundle curves by:</p>
                    <select id="bundle_dimension" class="ui dropdown">
                      <!-- <option value="">-----</option> -->
                      <option value="gender">gender</option>
                      <option value="race">race</option>
                      <option value="economic_status">economic status</option>
                    </select>  
                </div>
                <div class="control">
                    <button id="reset_brush" class="ui button">Reset Brush</button>
                </div>    
            </div>   
            <div id="parallel_coord" class="parcoords" style="height: 80%"></div>     
        </div>
        <div class="col-lg-2 greyed">
            <div class="ui search feature" style="padding-bottom: 5px !important;">
              <div class="ui icon input" style="width: 100%;">
                <input class="prompt" type="text" placeholder="Search words...">
                <i class="search icon"></i>
              </div>
              <!--
              <i class="cancel icon" style="cursor: pointer"></i>
              <div class="results"></div>
              -->
            </div>
            <div style="height: 85%">
                <!-- 
                <h4>Neighbours in High Dimensions</h4>
                -->
                <ul id="neighbors_list" class="list-group list-group-flush"></ul>
            </div>  
        </div>
        
    </div>
</div>
<!--
<script type="text/javascript"> var baseline= false</script>
-->
    <!-- main container ends -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <!-- <script type = "text/javascript" src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script> -->
    <!-- <script type = "text/javascript" src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='vendor/semantic/semantic.min.js') }}"></script>
    
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js"></script>

    <!-- user js files -->
    <script src="{{ url_for('static', filename='js/sylvester.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.svg.multibrush.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.parcoords.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallel_coord_canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/left_pane.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.5.0/nouislider.js"></script>
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>

    

</body>
</html>

